@mixin button($style: square) {
  --button-radius: 0;
  background: var(--jhu-brand-gold);
  border: none;
  border-radius: var(--button-radius);
  color: var(--jhu-brand-heritage-blue);
  padding: 10px;
  pointer-events: auto;

  &:focus,
  &:hover {
    background: var(--jhu-gold-20);
    cursor: url('../../../images/pointer.svg'), pointer;
  }

  &:disabled {
    background: var(--jhu-grayscale-20);
    color: var(--jhu-grayscale-70);
    cursor: url('../../../images/arrow.svg'), pointer;
  }

  @if ($style == rounded) {
    --button-radius: 48px;
  } @else if ($style == round) {
    --button-radius: 9999em;
  }
}
