// variables shared between CSS and JS
$shared-vars: (
  buttonPadding: 10,

  // animations (in ms)
  foundKeepAlive: 2000,

  canvasTransition: 300ms ease-out,

  // breakpoints (up to given pixel width)
  breakpoint_small: 430,
  breakpoint_medium: 768,
  breakpoint_large: 1001, // captures 1000

  // sizing (in pixels)
  legendThumbnailHeight_small: 48,
  legendThumbnailHeight_medium: 50,
  legendThumbnailHeight_large: 72,
  legendThumbnailHeight_xlarge: 72,

  legendGap: 5,
  legendGap_small: 5,
  legendGap_medium: 5,
  legendGap_large: 5,
  legendGap_xlarge: 5,

  legendPadding: 15,
  legendPadding_small: 15,
  legendPadding_medium: 15,
  legendPadding_large: 15,
  legendPadding_xlarge: 15,

  miniMap: 55,
  utilitiesIconHeight: 32,
  utilitiesEdgeSpace: 14,
);

:export {
  @each $key, $value in $shared-vars {
    #{unquote($key)}: $value;
  }
}
