@forward '../../../node_modules/@johnshopkins/jhu-wds/src/shared/scss/variables/colors';
@forward 'shared-variables.scss';

:root {
  --stack-background: 1;
  --stack-found: 2;
  --stack-hint: 3;
  --stack-findable: 4;
  --stack-utilities: 5;
  --stack-legend: 6;
  --stack-overlay: 7;
}
