@forward '../../../css/main';

$iconRatio: 0.4;

.container {
  .legend {
    display: flex;
    gap: 5px;
    
    .thumbnail {
      background: #000;
      height: #{$legendThumbnailHeight_mobile}px;
      width: #{$legendThumbnailHeight_mobile}px;

      img {
        width: 100%;
      }

      svg {
        background: #fff;
        fill: green;
        height: calc(#{$legendThumbnailHeight_mobile}px * $iconRatio);
        width: calc(#{$legendThumbnailHeight_mobile}px * $iconRatio);
        position: absolute;
      }
    }
  }

  &.desktop {
    .legend {
      .thumbnail {
        height: #{$legendThumbnailHeight_desktop}px;
        width: #{$legendThumbnailHeight_desktop}px;
        svg {
          height: calc(#{$legendThumbnailHeight_desktop}px * $iconRatio);
          width: calc(#{$legendThumbnailHeight_desktop}px * $iconRatio);
        }
      }
    }
  }
}
