.game-container {
  overflow: hidden;

  .game {
    cursor: crosshair;
    position: relative;

    &:focus {
      // canvas element hides this?
      // from: https://css-tricks.com/copy-the-browsers-native-focus-styles/
      outline: medium auto Highlight;
      outline: 5px auto -webkit-focus-ring-color;
    }

    canvas {
      position: absolute;
      z-index: 1;

      &.hint {
        opacity: 0;
        transition: opacity #{$hintFadeOut}ms;
        z-index: 2;

        &.show {
          opacity: 1;
          transition: opacity #{$hintFadeIn}ms;
        }
      }
    }
  }
}
