@use '../../../css/main' as *;

.container {

  .utilities {
    pointer-events: none;
    position: absolute;
    z-index: var(--stack-utilities);

    button {
      @include button(round);
      border: solid var(--jhu-brand-double-black) 4px;
      outline: solid var(--jhu-brand-white) 2px;

      svg {
        height: #{$utilitiesIconHeight}px;
        width: #{$utilitiesIconHeight}px;
      }
    }

    .navigation,
    .instructions-and-hint {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: center;
      position: absolute;
    }

    .navigation {
      right: #{$utilitiesEdgeSpace}px;
      top: #{$utilitiesEdgeSpace}px;
    }

    .instructions-and-hint {
      bottom: #{$utilitiesEdgeSpace}px;
      left: #{$utilitiesEdgeSpace}px;
    }
  }

  .game-placement {
    left: 0px;
    position: absolute;
    top: 0px;
  }

  .game {
    cursor: crosshair;
    left: 0px;
    position: absolute;
    top: 0px;
    user-select: none;

    &:focus {
      // canvas element hides this?
      // from: https://css-tricks.com/copy-the-browsers-native-focus-styles/
      outline: medium auto Highlight;
      outline: 5px auto -webkit-focus-ring-color;
    }
  }
}
