@forward '../../../css/main';

.container {

  .utilities {
    pointer-events: none;
    position: absolute;
    z-index: var(--stack-utilities);

    button {
      border: none;
      background: transparent;
      padding: 0;
      pointer-events: auto;

      svg {
        height: #{$utilitiesIconHeight_mobile}px;
        width: #{$utilitiesIconHeight_mobile}px;
      }

      &:hover {
        cursor: pointer;

        &:disabled {
          cursor: default;
        }
      }

      &:disabled {
        svg {
          color: var(--jhu-grayscale-10);
        }
      }
    }

    .navigation {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      gap: 0.3em;
      justify-content: center;
      position: absolute;
      right: 1em;
      top: 1em;
    }

    button.instructions {
      color: var(--jhu-gold-30);
      top: 1em;
      left: 1em;
      position: absolute;
      
      &:hover {
        color: var(--jhu-gold-40);
      }
    }

    button.hint {
      color: var(--jhu-gold-30);
      bottom: 1em;
      left: 1em;
      position: absolute;
      
      &:hover {
        color: var(--jhu-gold-40);
      }
    }

    button.zoom-in,
    button.zoom-out {
      color: var(--jhu-grayscale-40);
      display: block;

      &:hover {
        color: var(--jhu-grayscale-50);
      }
    }
  }

  .game {
    cursor: crosshair;
    position: relative;

    &:focus {
      // canvas element hides this?
      // from: https://css-tricks.com/copy-the-browsers-native-focus-styles/
      outline: medium auto Highlight;
      outline: 5px auto -webkit-focus-ring-color;
    }
  }

  &.desktop {
    .utilities {
      button {
        svg {
          height: #{$utilitiesIconHeight_desktop}px;
          width: #{$utilitiesIconHeight_desktop}px;
        }
      }
    }
  }
}
