@use '../../../css/main' as *;

.utilties {
  padding: 5px 0;

  button {
    border: none;
    background: transparent;
    padding: 0;

    svg {
      color: var(--jhu-brand-gold);
    }

    &:hover {
      cursor: pointer;
    }
  }
}

