@use '../../../css/main' as *;

.container {
  .utilities {
    display: flex;
    gap: 5px;
    // line-height: 0; // EW, but it gets rid of extra space in div
    padding: 5px 0;

    button {
      border: none;
      background: transparent;
      padding: 5px;
      padding: 0;

      svg {
        height: #{$utilitiesHeight_mobile}px;
        width: #{$utilitiesHeight_mobile}px;

        &.lightbulb {
          color: var(--jhu-gold-30);
          
          &:hover {
            color: var(--jhu-gold-40);
          }
        }

        &.zoom-in,
        &.zoom-out {
          color: var(--jhu-grayscale-40);

          &:hover {
            color: var(--jhu-grayscale-50);
          }
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &.desktop {
    .utilities {
      button {
        svg {
          height: #{$utilitiesHeight_desktop}px;
          width: #{$utilitiesHeight_desktop}px;
        }
      }
    }
  }
}
