@use '../../../css/main' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: #{$legendGap_small}em;

  .game-container {
    overflow: hidden;
    position: relative;
  }

  &.medium {
    gap: #{$legendGap_medium}em;
  }

  &.large {
    gap: #{$legendGap_large}em;
  }

  &.xlarge {
    gap: #{$legendGap_xlarge}em;
  }
}
