@use '../../../css/main' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: #{$legendGap_small}px;

  .game-container {
    overflow: hidden;
    position: relative;
  }

  &.medium {
    gap: #{$legendGap_medium}px;
  }

  &.large {
    gap: #{$legendGap_large}px;
  }

  &.xlarge {
    gap: #{$legendGap_xlarge}px;
  }
}
