@use '../../../css/main' as *;

canvas.found {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  animation: fade 6000ms;
  z-index: var(--stack-found);
}

@keyframes fade {
  0% { opacity: 0; }
  20% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; }
}
