@use '../../../css/main' as *;

.mini-map {
  background: var(--jhu-brand-heritage-blue);
  border: 2px solid var(--jhu-grayscale-0);
  position: relative;
  pointer-events: auto;

  .shown {
    border: 2px solid var(--jhu-red-50);
    position: absolute;
  }
}
