@use '../../../css/main' as *;

.overlay-container {
  align-items: center;
  background: rgb(0, 0, 0, .75);
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: var(--stack-overlay);
  
  .overlay {
    background: var(--jhu-grayscale-0);
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 80%;
    width: 80%;
    z-index: calc(var(--stack-overlay) + 1);

    > * {
      padding-left: 2.5rem;
      padding-right: 2.5rem;

      &:first-child {
        padding-top: 2.5rem;
      }

      &:last-child {
        padding-bottom: 2.5rem;
      }
    }
  }

  .overlay-header {
    align-items: center;
    display: flex;
    flex-direction: row;

    .close {
      @include button(round);
      margin-left: auto;
      order: 2;
    }
  }

  .overlay-footer {
    background: linear-gradient(0deg, var(--jhu-grayscale-0) 50%, transparent 100%);
    bottom: 0;
    position: sticky;
    
    .ready {
      @include button(round);
    }
  }
}
