@use '../../../css/main' as *;

.overlay-container {
  align-items: center;
  background: rgb(0, 0, 0, .75);
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: var(--overlay);
  
  .overlay {
    background: var(--jhu-grayscale-100);
    background: var(--jhu-grayscale-0);
    border: 1.5em solid var(--jhu-grayscale-0);
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1em;
    max-height: 80%;
    width: 80%;
    z-index: calc(var(--overlay) + 1);
  }

  .overlay-header {
    align-items: center;
    display: flex;
    flex-direction: row;

    .close {
      @include round_button;
      margin-left: auto;
      order: 2;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .overlay-footer {
    .ready {
      @include button;
    }
  }

  &.small,
  &.medium {
    .overlay {
      padding: 0.25em;
    }
  }
}
