@use '../../../css/main' as *;

canvas.hint {
  animation: fade 15000ms;
  pointer-events: none;
  position: absolute;
  transition: height #{$canvasTransition}, width #{$canvasTransition};
  z-index: var(--stack-hint);
}

@keyframes fade {
  0% { opacity: 0; }
  3% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; }
}
